.margin-top-small-my {
	margin-top: 15px;
}

@media only screen and (min-width: 768px) {
	.margin-top-small-my {
		margin-top: 0px;
	}
	.margin-top-large-my {
		margin-top: 10px;
	}
}

.panel-my {
	margin-top: 20px;
}

.panel-title-my {
	padding-left: 20px;
	border-radius: 4px;
}

.alert-my {
	display: none;
}

#chatDetails,
#chatEmails,
#oldEmail {
	display: none;
}
