/* Layout */

.footer-my {
	background: #f5f5f5;
	padding: 5px 0;
	border: 1px solid rgba(0, 0, 0, 0.06);
	border-radius: 4px;
}

.site-content-my {
	flex-grow: 1;
}

.site-my {
	display: flex;
	min-height: 95vh;
	flex-direction: column;
}

@media only screen and (min-width: 768px) {
	.site-my {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.site-content-my {
		padding: 0 50px;
	}
	.notindex-content-my {
		padding-top: 20px;
	}
}

@media only screen and (min-width: 960px) {
	.site-content-my {
		padding: 0 100px;
	}
}

.logo-my {
	max-width: 150px;
}

/* Navigation */

.navbar-my {
	height: 75px;
	margin-right: 1rem;
}

.logo-nav-my {
	padding: 5px 10px;
}

.uk-navbar-toggle {
	float: right;
}

#welcome .welcome > a,
#about .about > a,
#how .how > a,
#promote .promote > a,
#links .links > a {
	background-color: #fafafa;
	color: #444;
	border-left-color: rgba(0, 0, 0, 0.1);
	border-right-color: rgba(0, 0, 0, 0.1);
	border-top-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
	.navbar-brand-my {
		font-size: 23px;
	}
	.logo-nav-my {
		padding: 5px 10px 5px 20px;
	}
}

/* Buttons and colours */

.button-warning-my {
	background-color: #faa732;
	color: #fff;
}

.button-warning-my:hover {
	background-color: #fcb046;
	color: #fff;
}

.chat-color {
	background-color: #8cc14c;
}

.triangle-color {
	background-color: #faa732;
}

.activists-color {
	background-color: #da314b;
}
